.contactPage {
	background: url('../../../resources/contactPage/Component.png') center center/cover no-repeat;
	height: 1100px;
	&_contact {
		margin-top: 180px;
	}
	&_footer {
		margin-top: 923px;
	}
}